<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    </head>
    <body>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {{ include ('_menu.html.twig')}}
    {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>

<style>
    body {
        background-color: white;
        background-image: url({{ asset('bg.jpg') }});
        background-repeat: no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    form{
        background-color: rgba(0, 0, 0, .2);
        color: white;
    }

    table {
        width: 100%!important; margin: auto!important;
        background-color: rgba(0, 0, 0, .2);
        padding: 40px!important;
        font-family: Helvetica, Arial, sans-serif;
        border-collapse:
                collapse; border-spacing: 0;
        color: white;
    }


    #content{
        background-color: rgba(0, 0, 0, .5);
        padding: 20px;
        width: 52%;
        margin: auto;
    }
    form { width: 100%!important; margin: auto!important;}
    #icon-book { display: none; }

    @media (min-width: 768px) {
        #wrapper { width: 80%; margin: 2em auto; }
        #icon-book { display: inline-block; }
        #status a, #next a { display: block; }

        @-webkit-keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        @keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        .sf-toolbar { opacity: 0; -webkit-animation: fade-in 1s .2s forwards; animation: fade-in 1s .2s forwards;}
    }
</style>