{% extends 'base.html.twig' %}

{% block body %}
    <h1 style="text-align: center; color: white;">Création de produit</h1>
    <div id="content">
    {% form_theme form 'bootstrap_3_layout.html.twig' %}
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input class="btn btn-primary" type="submit" value="Enregistrer" />

    {{ form_end(form) }}
        <br/>
        <button type="button" class="btn btn-primary" onclick="location.href = '{{ path('produit_index') }}';">Voir la liste</button>

    </div>

{% endblock %}


{% block stylesheets %}

{% endblock %}